.wrapper {
  padding-bottom: 9rem;
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0.5rem;

    .title {
      h1 {
        padding: 0;
        font-size: 2.5rem;
        font-weight: 700;
      }
    }

    .cart_content {
      display: grid;
      grid-template-columns: 15fr 10fr;
      gap: 1rem;
      @media screen and (width < $breakpoint) {
        grid-template-columns: 1fr;
      }

      .cart_items {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 25px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1.5rem;

        .cart_item {
          display: flex;
          gap: 1rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding-top: 0;

          &:last-child {
            padding-bottom: 0;
            border: 0;
          }
          .image {
            width: 25%;
            img {
              max-height: 100%;
              aspect-ratio: 1/1;
              object-fit: cover;
              width: 100%;
              border-radius: 10px;
            }
          }

          .content {
            width: 100%;
            height: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .up {
              display: flex;
              justify-content: space-between;
              .info {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .title {
                  font-size: 1.25rem;
                  font-weight: 700;
                }
                .size,
                .color {
                  font-size: 0.875rem;

                  span {
                    color: rgba(0, 0, 0, 0.6);
                  }
                }
              }
            }

            .down {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .price {
                font-size: 1.25rem;
                font-weight: 700;
              }
              .quantity {
                display: flex;
                align-items: center;

                > * {
                  background-color: rgba(0, 0, 0, 0.05);
                  padding: 0.55rem 0.8rem;

                  &:first-child {
                    border-radius: 30px 0 0 30px;
                    padding-left: 1.25rem;
                    font-size: 1.55rem;
                    font-weight: 400;
                    cursor: pointer;
                  }
                  &:nth-child(2) {
                    padding: 1.03rem 0.8rem;
                    font-size: 0.75rem;
                  }
                  &:last-child {
                    border-radius: 0 30px 30px 0;
                    padding-right: 1.25rem;
                    font-size: 1.55rem;
                    font-weight: 400;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }

      .cart_details {
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        height: auto;

        .title {
          padding: 0;
          h2 {
            padding: 0;
            margin: 0;
            font-size: 1.5rem;
            font-weight: 700;
          }
        }

        .lines {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          gap: 1.25rem;

          .subtotal,
          .discount,
          .delivery,
          .total {
            display: flex;
            justify-content: space-between;
            margin-top: 0.5rem;
            .text {
              color: rgba(0, 0, 0, 0.6);
              font-size: 1.25rem;
            }
            .price {
              text-align: right;
              font-size: 1.25rem;
              font-weight: 700;
            }
          }

          .discount .price {
            color: red;
          }

          .total {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding-top: 1rem;
            .text {
              color: #000 !important;
            }
            .price {
              font-size: 1.5rem;
            }
          }
        }
        .promo form {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1.5rem 0;

          .input_promocode {
            position: relative;
            flex-grow: 1;

            input {
              width: 80%;
              border-radius: 3.875rem;
              background: #f0f0f0;
              display: flex;
              padding: 0.85rem 1rem;
              align-items: flex-start;
              gap: 0.75rem;
              border: 0;
              text-indent: 30px;
              font-size: 1rem;
            }
            img {
              position: absolute;
              top: 8px;
              left: 10px;
            }
          }
          .apply {
            input {
              border: 0;
              outline: 0;
              color: white;
              display: flex;
              width: 7.4375rem;
              padding: 0.75rem 1rem;
              justify-content: center;
              align-items: center;
              gap: 0.75rem;
              align-self: stretch;
              border-radius: 3.875rem;
              background: #000;
              font-size: 1rem;
              cursor: pointer;
            }
          }
        }

        .checkout {
          width: 100%;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            height: 3.75rem;
            border-radius: 3.875rem;
            background: #000;
            color: white;
            font-size: 1.25rem;
            text-decoration: none;
          }
        }
      }
    }
  }
}
