#topbar {
  background-color: #000;
  color: white;
  padding: 0.5rem;
  font-family: $font-family;
  font-size: 0.875rem;
  @media screen and (width < $breakpoint) {
    font-size: 0.75rem;
  }

  .container {
    max-width: 1200px;
    margin: auto;
    position: relative;
    padding: 0.2rem 0;

    .text {
      text-align: center;
      span {
        cursor: pointer;
        text-decoration: underline;
        font-weight: 500;
      }
    }

    img {
      position: absolute;
      right: 20px;
      top: 7px;
      width: 0.8rem;
      height: 0.8rem;
      @media screen and (width < $breakpoint) {
        display: none;
      }
    }
  }
}

header {
  max-width: 1200px;
  margin: auto;
  .container {
    padding-bottom: 0.7rem;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media screen and (width < $breakpoint) {
      flex-wrap: wrap;
      padding: 0 1rem 1rem 1rem;
      gap: 0.5rem;
    }

    .hamburger {
      display: none;
      @media screen and (width < $breakpoint) {
        display: block;
        width: 30px;
      }
    }

    .logo {
      color: #000;
      font-size: 2rem;
      font-weight: 700;
      @media screen and (width < $breakpoint) {
        flex-grow: 1;
      }
    }

    .menu {
      @media screen and (width < $breakpoint) {
        order: 3;
        width: 100%;
      }

      nav {
        @media screen and (width < $breakpoint) {
          width: 85%;
        }
        ul {
          display: flex;
          gap: 1rem;
          list-style: none;
          @media screen and (width < $breakpoint) {
            flex-direction: column;
            text-align: center;
          }
          li {
            text-align: center;
          }
        }
      }
    }

    .search {
      width: 30%;
      position: relative;
      @media screen and (width < $breakpoint) {
        display: none;
      }
      img {
        position: absolute;
        top: 8px;
        left: 15px;
      }
      input {
        width: 100%;
        padding: 0.75rem 0;
        text-indent: 3rem;
        border: none;
        outline: none;
        border-radius: 25px;
        background-color: #ececec;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 1rem;
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.breadcrumb {
  font-family: $font-family;
  max-width: 1200px;
  margin: auto;
  padding: 1rem 0 0 0;
  @media screen and (width < $breakpoint) {
    padding: 0 1rem;
  }
  .container {
    display: flex;
    gap: 0.5rem;
    color: rgba(0, 0, 0, 0.6);
    align-items: center;

    .actual {
      color: #000;
    }
  }
}
